@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

body {
    background-color: gray;
}
.container {
    margin-top: 100px;
    text-align: center;
}
.title{
    font-size: 70px;
}
.title:hover{
    color: Yellow;
    transition: linear;
}

.title, .myButton {
    font-family: 'Modak', cursive;
    color: navy;
}

#timerLabel {
    margin: 100px 0px;
    color: #ffffff;
}
.myButton {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 30%;
    background-color: gainsboro;
    font-size: 20px;
}

.myButton:hover{
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px black;
}